// btn

.btn {
  margin: 0;

  display: inline-block;
  padding: 1rem;
  border-top: solid .15rem rgba($black, .1);

  color: lighten($black, 50%);
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  transition: .2s ease;
  transition-property: border, color;

  &:hover,
  &:focus {
    color: lighten($black, 40%);
    border-color: $primary;
  }
}


@media screen and (min-width: $breakpoint-sm) {
  .btn {
    font-size: 1.14rem;
  }
}
