// team

.team {
  text-align: center;
}

.team__list {
  margin: 0;

  @extend .row;
  padding: 0;

  list-style: none;
}

.team__item {
  position: relative;
  margin: 0 .5rem 1.5rem;

  display: inline-block;

  cursor: default;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.team__member {
  margin: 0;

  color: lighten($black, 20%);
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
}

.team__role {
  margin: 0;

  color: lighten($black, 40%);
}

.team__address {
  margin: 0;

  color: $primary;
  font-style: normal;

  a {
    color: $primary;
  }
}

.team__figure {
  margin: 0 0 .5rem;
  overflow: hidden;
}

.team__image {
  max-width: 100%;
}


@media screen and (min-width: $breakpoint-sm) {
  .team__item {
    float: left;
    width: 23.5%;
    margin: 0 2% 1rem 0;

    overflow: hidden;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-last-child(-n+4) {
      margin-bottom: 0;
    }

    &:hover {
      .team__container {
        opacity: 1;
      }

      .team__image {
        transform: scale(1.2);
      }
    }
  }

  .team__container {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 8px;
    left: 0;

    background: rgba($primary, .8);

    transition: all .2s ease;
    opacity: 0;
  }

  .team__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 100%;
  }

  .team__member {
    margin: 0 0 .5rem;

    color: $white;
  }

  .team__role {
    margin: 0;

    color: $white;

    opacity: .8;
  }

  .team__address {
    margin: 0;

    color: $white;

    opacity: .8;

    a {
      color: $white;
    }
  }

  .team__image {
    position: relative;
    z-index: 1;

    width: 100%;

    transition: transform .4s ease;
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .team__member {
    text-shadow: 0 .1rem .04rem rgba($black, .2);
  }

  .team__figure {
    height: 10.215625rem;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .team__figure {
    height: 13.3125rem;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .team__item {
    margin-bottom: 1.5rem;
  }

  .team__figure {
    height: 15.8925rem;
  }

  .team__member {
    font-size: 1.3rem;
  }
}
