// header

.header {
  text-align: center;
}

.header__content {
  position: relative;
}

.header__title {
  position: absolute;
  z-index: 2;
  bottom: 25%;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);

  display: block;
  width: 100%;

  color: $white;
  font-size: 1.6rem;
  font-weight: 800;
  text-shadow: 0 .1rem .1rem rgba($black, .4);
}

.header__figure {
  overflow: hidden;
  margin: 0;
}

.header__image {
  width: 100%;
}

@media screen and (min-width: $breakpoint-ty) {
  .header__title {
    font-size: 2rem;
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .header__title {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .header__title {
    font-size: 3rem;
  }

  .header__figure {
    position: relative;

    height: 28.125rem;
  }

  .header__image {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
