// section

.section {
  padding: 1rem 0;
}

.section--hidden {
  display: none;
}

.section--secondary {
  background: rgba($black, .05);
}

.section__header {
  margin: 0 0 1.5rem;

  text-align: center;

  .section__title,
  .section__caption {
    margin: 0 0 .25rem;
  }
}

.section__title {
  margin: 0 0 1.5rem;

  color: lighten($black, 30%);
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;

  cursor: default;
}

.section__caption {
  margin: 0 0 1rem;

  color: $primary;
  font-size: 1rem;
  font-weight: 400;

  cursor: default;
}

.section__text {
  line-height: 1.8;
  color: lighten($black, 60%);
  font-size: 1rem;

  p {
    margin: 0 0 1rem;
  }
}

.section__text--left {
  text-align: left;
}

.section__text--header {
  color: lighten($black, 40%);
}

.section__footer {
  margin-top: 1rem;
}


@media screen and (min-width: $breakpoint-sm) {
  .section {
    padding: 3rem 0;
  }

  .section__header {
    text-align: left;
  }

  .section__title {
    font-size: 1.3rem;
    margin: 0 0 2rem;
  }

  .section__caption {
    font-size: 1.2rem;
  }

  .section__text {
    font-size: 1.1rem;

    p {
      margin: 0 0 1.5rem;
    }
  }
}
