// section

.section {
  padding: 1rem 0;
}

.section__text {
  line-height: 1.8;
  color: lighten($black, 60%);
  font-size: 1rem;

  p {
    margin: 0 0 1rem;
  }
}

.section__text--header {
  color: lighten($black, 40%);
}


@media screen and (min-width: $breakpoint-sm) {
  .section {
    padding: 2rem 0;
  }

  .section__text {
    font-size: 1.1rem;

    p {
      margin: 0 0 1.5rem;
    }
  }
}
